.container{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, auto);
    grid-gap: 0;

    justify-items: stretch;
    align-items: center;
    justify-content: center;
    padding: 5px;

    margin-bottom: 50px;
}

.results{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 0;

    justify-items: stretch;
    align-items: center;
    justify-content: center;
    padding: 5px;

    margin-bottom: 50px;
}

body{
    margin: 0 auto;
    text-align: center
}

ul {
  text-align: center;
  list-style: inside;
  margin: 0 auto;
}

h3 {
    margin-top: 50px;
    margin-bottom: 0;
}

.container > div {
    margin: 0;
    padding: 5px;
    text-align: center;
}

.persona{
    color: #44444A;
}

.header {
    color: #B1CBE1;
}

.win {
    background: green;
    color: white;
}

.loss{
    background: red;
    color: white;
}

.draw {
    background: grey;
    color: white;
}

.result {
    margin-top: 50px;
}

.buttons {
    margin-bottom: 50px;
}

#playerScore{
    border: 1px black solid;
    width: 40px;
    
    margin: 10px auto;
}

#computerScore{
    border: 1px black solid;
    width: 40px;
    
    margin: 10px auto;
}

#gameResult{
    border: 1px black solid;
    width: 400px;
    padding: 50px;
    margin: 10px auto;
}